List of users :

<ul>
{% for key, user in listUsers %}
    <li> {{ key }} :
        <ul>
            <li>
                id : {{ user.id }}
            </li>
            <li>
                nom : {{ user.username }}
            </li>
            <li>
                email : {{ user.email }}
            </li>
            <li>
                remove : <a href="{{ path('remove', {'id': user.id}) }}">Supprimer</a>
            </li>
        </ul>
    </li>
{% endfor %}
</ul>